body {
	background: #0A0D0D;
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: red;
	background: -webkit-radial-gradient(circle, #273030, #0A0D0D);
	background: -o-radial-gradient(circle, #273030, #0A0D0D);
	background: -moz-radial-gradient(circle, #273030, #0A0D0D);
	background: radial-gradient(circle, #273030, #0A0D0D);
}


#webcam {	
	position: fixed;
	display: block;
	width: 100px;
	height: auto;
	top: 0;
	left: 0;
	z-index: 1;
}


#title {
	position: absolute;
	width: 100%;
	top: 1em;
	left: 0;
	text-align: center;
	

	h1, h2 {
		position: relative;
		font-family: Helvetica, sans-serif;
		color:#FFF;
		line-height: 0.5em;
		letter-spacing: 0.2em;
	}


	h1 {
		font-size: 1.2em;
		font-weight: 600;
	}


	h2 {
		font-size: 0.7em;
		font-weight: 100;
	}
}